body{
    color:#212121;
    text-align: center;
}
.row {
  margin-top: 10%;
}
img {
  width: 75%;
}
.answers {
  list-style-type: none;
}
.answers li {
  text-align: center;
}
.answers .choice:hover {
  cursor: pointer;
}
.submit {
    background-color: #009688;
    color:#fff;
}
.title {
  margin-top: 20%;
  text-align: center;
}
.input {
  margin-top: 10%;
}
.input h5 {
  text-align: center;
}
.deselected {
  text-decoration: line-through;
}
button {
    width:100%;
}

.selected {
    background-color: #FFC107;
    color: #fff;
}

.option {
    animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
}


