body{
    color:#212121;
    text-align: center;
    background-image: url(../img/crossword.png);

}
.row {
  margin-top: 10%;
}
img {
  width: 75%;
}
.answers {
  list-style-type: none;
animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
    -ms-animation-duration: 0.7s;
    -o-animation-duration: 0.7s;

}
.answers li {
  text-align: center;
}
.answers .choice:hover {
  cursor: pointer;
}
.submit {
    background-color: #009688;
    color:#fff;
}
.title {
  margin-top: 20%;
  text-align: center;
}
.input {
  margin-top: 10%;
}
.input h5 {
  text-align: center;
}
.deselected {
  text-decoration: line-through;
}
button {
    width:90%;
}

.selected {
    background-color: #FFC107;
    color: #fff;
}

.option {
    animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
}

.reset {
    background-color: #009688;
    color:#EEE;
    width:30%;
    text-align:center;
}

.title h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
