body{
    color:#212121;
}
.row {
  margin-top: 10%;
}
img {
  width: 75%;
}
.answers {
  list-style-type: none;
}
.answers li {
  text-align: center;

}
.answers .choice:hover {
  cursor: pointer;
}
.submit {
  margin-left: 35%;
}
.title {
  margin-top: 20%;
  text-align: center;
}
.input {
  margin-top: 10%;
}
.input h5 {
  text-align: center;
}
.deselected {
  text-decoration: line-through;
}
button {
    width:100%;
}

.selected {
    background-color: #FFC107;
    color: #fff;
}
